@font-face {
    font-family: 'tvN즐거운이야기';
    src: url('/src/font/tvN즐거운이야기.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('/src/font/GmarketSans.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('/src/font/GmarketSans.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSnasKR';
    src: url('/src/font/NotoSansKR.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

:root {
    --violet-color: #5b2386;
    --yellow-color: #fcee21;
    --white-color: white;
    --shadow: 0px 0px 10px 0px #00000080;
}

/* 브라우저 CSS */
@media (min-width: 451px) {
    body {
        margin: 120px 0 70px 0;
        background-color: var(--violet-color);
        font-family: 'GmarketSans';
        color: var(--white-color);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* header */
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-clock {
        position: relative;
        width: 261px;
        height: 265px;
    }
    .img-title {
        position: absolute;
        width: 564px;
        height: 112px;
    }

    /* main */
    main {
        display: flex;
        flex-direction: column;
    }

    /* intro */
    .wrap-intro {
        margin: 46px 0 102px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 78px;
    }
    .intro-text {
        font-family: 'tvN즐거운이야기';
        font-size: 36px;
        font-weight: 700;
        color: var(--yellow-color);
    }

    .wrap-intro-2 {
        display: flex;
        justify-content: center;
        align-items: center;

        line-height: 1.6;
    }
    .img-quotes {
        position: relative;
        width: 493px;
        height: auto;
    }
    .intro-text-2 {
        position: absolute;
        font-size: 18px;
        font-weight: 400;
    }
    .intro-strong {
        font-size: 24px;
        font-weight: 700;
    }

    /* input */
    .wrap-input p {
        font-size: 24px;
        font-weight: 400;
        line-height: 50px;
        margin: 20px;
    }
    .input-text {
        box-sizing: border-box;
        margin: 0 17px;
        padding: 10px 0 0 0;
        width: 228px;
        height: 57px;
        border-radius: 7px;
        color: black;
    }
    .input-text::placeholder {
        font-size: 24px;
        color: #babcbe;
        text-align: center;
    }

    .wrap-submit {
        margin: 115px 0 147px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .submit-btn {
        width: 565px;
        height: 66px;
        background: var(--yellow-color);
        border-radius: 56px;
        box-shadow: var(--shadow);

        font-family: 'GmarketSansBold';
        color: var(--violet-color);
        font-size: 24px;
        font-weight: 700;
    }
    .img-click {
        margin-left: 7px;
        width: 64px;
        height: 72px;
    }

    /* input result */
    .wrap-result {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .result-strong {
        font-size: 72px;
        font-weight: 700;
    }
    .result-text {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.3;
    }
    .result-text::after {
        content: ':)';
    }

    .wrap-result-2 {
        margin: 127px 0 175px 0;
        display: flex;
        flex-direction: row;
    }
    .wrap-result-2 > * {
        height: 66px;
        border-radius: 56px;
        box-shadow: var(--shadow);

        font-family: 'GmarketSansBold';
        color: var(--violet-color);
        font-size: 24px;
        font-weight: 700;
    }
    .result-btn-2 {
        margin-right: 18px;
        width: 356px;
        background: var(--yellow-color);
    }
    .result-btn-3 {
        width: 191px;
        background: var(--white-color);
    }

    /* footer */
    .img-logo {
        margin: 0 0 20px 0;
        width: 125px;
        height: 25px;
    }
    .content::before {
        content: '※ ';
    }
    .footer-text {
        font-family: 'NotoSansKR';
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
    }

    /* modal */
    .modal {
        box-sizing: border-box;
        padding: 76px;
        width: 800px;
        height: 800px;
        border-radius: 30px;
        background: var(--white-color);
        box-shadow: 0px 0px 20px 0px #00000080;
    }
    [class*='modal'] {
        color: var(--violet-color);
        font-family: 'tvN즐거운이야기';
        font-weight: 700;
    }
    .modal-text-1 {
        font-size: 96px;
    }
    .modal-text-1::after {
        content: '♥♥♥';
    }
    .modal-text-2 {
        font-size: 36px;
    }
    .img-licat {
        margin: 29px 0 74px 0;
        width: 433px;
        height: 337px;
    }
    .modal-btn {
        width: 508px;
        height: 66px;
        border-radius: 56px;
        background: var(--yellow-color);
        box-shadow: var(--shadow);

        font-family: 'GmarketSansBold';
        font-size: 24px;
    }
}
